<!-- Page Header with Tabs -->
<app-page-header
  [titleEn]="'Settings'"
  [titleAr]="'الإعدادات'"
  [lang]="lang"
  [subtitle]="getSettingsSubtitle()"
  [showTabs]="true">

  <!-- Icon slot -->

<app-dashboard-nav-icon slot="icon" name="user-edit"></app-dashboard-nav-icon>
  <!-- Tabs slot -->
  <ng-container slot="tabs">
    <li class="nav-item">
      <a class="nav-link text-active-primary pb-4"
        [class.active]="activeTab === 'general-settings'"
        (click)="switchTab('general-settings')">
        {{ 'INSIGHTER.DASHBOARD.NAV.ACCOUNT_SETTINGS' | translate }}
      </a>
    </li>
    <li class="nav-item" >
      <a class="nav-link text-active-primary pb-4"
        [class.active]="activeTab === 'notification-settings'"
        (click)="switchTab('notification-settings')">
        {{ lang === 'ar' ? 'إعدادات الإشعارات' : 'Notification Settings' }}
      </a>
    </li>
    <li class="nav-item" *ngIf="(isInsighter$ | async) || (isCompany$ | async)">
      <a class="nav-link text-active-primary pb-4"
        [class.active]="activeTab === 'payment-settings'"
        (click)="switchTab('payment-settings')">
        {{ 'INSIGHTER.DASHBOARD.NAV.PAYMENT_SETTINGS_HEADER' | translate }}
      </a>
    </li>
  </ng-container>
</app-page-header>

<div class="py-1 bg-white rounded-2">
  <!-- Tab Content -->
  <div class="tab-content ">
    <router-outlet></router-outlet>
  </div>
</div>
